/**
 * @file dropdown
 * @author jinwei01
 */

@base-path: '../base';

@import "@{base-path}/conf";
@import "@{base-path}/color";
@import "@{base-path}/mixin";

@group-height: 30px;
@group-border-color: @default-border-color;
@group-padding-hoziron: 10px;

@active-icon-bg-color: #f3f3f3;
@active-icon-color: #888;

@item-active-color: #cae2fe;

.setBorder (@color) {
    box-shadow:  0 0 0 1px @color inset;
}


/**
 * dropdown
 */
.@{namespace}-dropdown {
    position: relative;
    display: inline-block;
    height: @group-height;
    line-height: @group-height;
    .setBorder(@default-border-color);
    transition: color .2s ease-out;
    user-select: none;

    &-label,
    &-icon {
        box-sizing: border-box;
    }
    &-label {
        display: inline-block; // trigger bfc
        line-height: @group-height;
        height: @group-height;
        padding-left: @group-padding-hoziron;
    }
    &-text {
        float: left;
        width: 6em;
        .text-overflow();
    }
    &.active {
        .setBorder(@blue);
    }

    &-icon {
        position: relative;
        float: right;
        width: 15px;
        height: @group-height - 2;
        margin-left: @group-padding-hoziron;
        top: 1px;
        right: 1px;
        background-color: @active-icon-bg-color;
        cursor: pointer;

        >i {
            position: absolute;
            width: 8px;
            height: 5px;
            left: 50%;
            top: 50%;
            transform-origin: 50% 50%;
            margin-top: -2px;
            margin-left: -4px;
            transition: transform .3s ease;

            // active icon
            &:before,
            &:after {
                position: absolute;
                box-sizing: border-box;
                left: 0;
                top: 0;
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 4px 4px 4px;
            }
            &:before {
                border-color: transparent transparent @active-icon-color transparent;
            }
            &:after {
                top: 1px;
                border-color: transparent transparent @active-icon-bg-color transparent;
            }
        }


        .active & i {
            transform: rotate(-180deg);
        }
    }

    // list
    &-list {
        display: none;
        box-sizing: border-box;
        position: absolute;
        max-height: 240px;
        overflow: auto;
        top: @group-height - 1;
        left: 0;
        border: 1px solid @default-border-color;
        background-color: @white;
        z-index: 999;
        min-width: 100%;

        .active & {
            // .setBorder(@blue);
            border: 1px solid @blue;
            display: block;
        }

        .equalwidth & {
            width: 100%;
        }

        // list empty
        &:empty {
            border: none;
        }
    }
    // item
    &-item {
        box-sizing: border-box;
        width: 100%;
        vertical-align: middle;
        line-height: @group-height;
        padding-left: @group-padding-hoziron;
        padding-right: @group-padding-hoziron;
        cursor: pointer;
        .text-overflow();
        &.selected,
        &:hover {
            color: @white;
            background-color: @item-active-color;
        }

    }
}
