/**
 * @file dropdown
 * @author jinwei01
 */

@base-path: '../base';

@import "@{base-path}/conf";
@import "@{base-path}/color";
@import "@{base-path}/mixin";

@root-classname: dropdown;

@group-height: 30px;
@group-border-color: @default-border-color;
@group-padding-hoziron: 10px;

@icon-bg-color: #f3f3f3;
@icon-color: #666;
@active-icon-bg-color: #ecf4ff;
@active-icon-color: @blue;

@item-active-color: #cae2fe;

.setBorder (@color) {
    box-shadow:  0 0 0 1px @color inset;
}


/**
 * dropdown
 */
.@{namespace}-@{root-classname} {
    position: relative;
    display: inline-block;
    width: 8em;
    height: @group-height;
    line-height: @group-height;
    .setBorder(@default-border-color);
    transition: color .2s ease-out;
    user-select: none;

    .@{root-classname}-label {
        box-sizing: border-box;
        display: block;
        line-height: @group-height;
        height: @group-height;
        padding-left: @group-padding-hoziron;
        padding-right: unit(@group-padding-hoziron + 15, px);
        .text-overflow();
    }
    &.active:not(.disabled) {
        .setBorder(@blue);
    }
    &.disabled {
        .setBorder(#f1f1f1)
    }

    .@{root-classname}-icon {
        position: absolute;
        z-index: -1;
        width: 15px;
        height: @group-height - 2;
        margin-left: @group-padding-hoziron;
        top: 1px;
        right: 1px;
        background-color: @icon-bg-color;

        >i {
            position: absolute;
            width: 8px;
            height: 5px;
            left: 50%;
            top: 50%;
            transform-origin: 50% 50%;
            margin-top: -2px;
            margin-left: -4px;
            transition: transform .3s ease;
            transform-origin: 50% 50%;

            // active icon
            &:before,
            &:after {
                position: absolute;
                box-sizing: border-box;
                left: 0;
                bottom: 1px;
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 4px 0 4px;
            }
            &:before {
                bottom: 0px;
                border-color: @icon-color transparent transparent transparent;
            }
            &:after {
                border-color: @icon-bg-color transparent transparent transparent;
            }

        }

        .active:not(.disabled)& {
            background-color: @active-icon-bg-color;
            i {
                &:before {
                    bottom: 0px;
                    border-color: @active-icon-color transparent transparent transparent;
                }
                &:after {
                    border-color: @active-icon-bg-color transparent transparent transparent;
                }
                transform: rotate(-180deg);
            }
        }
    }

    // list
    .@{root-classname}-list {
        display: none;
        box-sizing: border-box;
        position: absolute;
        max-height: 240px;
        overflow: auto;
        top: @group-height - 1;
        left: 0;
        border: 1px solid @default-border-color;
        background-color: @white;
        z-index: 999;
        min-width: 100%;

        .active& {
            border: 1px solid @blue;
            display: block;
        }

        .equalwidth& {
            width: 100%;
        }

        // list empty
        &:empty {
            border: none;
        }

        // item
        .@{root-classname}-item {
            box-sizing: border-box;
            width: 100%;
            vertical-align: middle;
            line-height: @group-height;
            padding-left: @group-padding-hoziron;
            padding-right: @group-padding-hoziron;
            cursor: pointer;
            .text-overflow();
            &.selected {
                color: @white;
                background-color: @blue;
            }
            &:not(.selected):hover {
                background-color: @item-active-color;
            }
        }
    }

}
