@base-path: '../base';

@border-color: #dfe2e3;
@border-bottom: #f2f2f5;

@tab-active-color: #4497ff;
@tab-normal-color: #333;

@tab-header-height: 50px;
@tab-header-fontsize: 16px;

@import "@{base-path}/conf";
@import "@{base-path}/color";

.@{namespace}-tab-card-wrapper {
    position: relative;
    width: 100%;
    border-radius: 2px;
    border: 1px solid @border-color;
}

.@{namespace}-tab-card {
    height: @tab-header-height;
    line-height: @tab-header-height;
    font-size: @tab-header-fontsize;
    color: @tab-normal-color;
    list-style: none;
    position: relative;
    border-bottom: 1px solid @border-bottom;

    .tab-cell {
        display: inline-block;
        border: 0;
        outline: none;
        height: 100%;
        padding: 0;
        margin: 0 0 0 20px;
        box-sizing: border-box;
        cursor: pointer;
        animation: all .2s ease;

        &.active {
            color: @tab-active-color;
        }
    }

    .sliding {
        border-bottom: 2px solid @tab-active-color;
        position: absolute;
        bottom: -1px;
        left: 0;
    }

}